.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 4rem;
}

.data {
  font-weight: bold;
}

.eyecatch {
  width: 100%;
  height: auto;
}

.body h2 {
  margin: 60px 0 40px;
  font-size: 2.4rem;
  font-weight: bold;
}

.body h3 {
  margin: 60px 0 40px;
  font-size: 2rem;
}

.body p {
  line-height: 1.8;
}

.body img {
  width: 100%;
  height: auto;
}

.control {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.controlInner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  position: relative;
}

.controlInner::before {
  display: block;
  content: '';
  width: 2px;
  height: 50%;
  background: var(--color-border);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prevButton {
  margin-right: auto;
}

.nextButton {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 50px;
  }

  .title {
    font-size: 2.4rem;
  }
}