:root {
  --color-primary: #DD1B57;
  --color-link: #349BF4;
  --color-white: #ffffff;
  --color-border: #EDEDED;
  --color-text: #151515;

  --shadow-focus: 0px 0px 0px 2px var(--color-link);

  --transition-base: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-roboto), var(--font-notojp), sans-serif;
  font-size: 1.6rem;
}

main {
  transition: all 0.5s;
}

.page-transition {
  opacity: 0;
  visibility: hidden;
}

/* main {
  position: relative;
}

main::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  transform: scale(0, 1);
  transform-origin: right top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  transition: transform 0.5s 0s;
}

main::after {
  display: block;
  font-size: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
  content: "Loading...";
  color: var(--color-white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0s;
}

.page-transition::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

.page-transition::after {
  opacity: 1;
  visibility: visible;
} */

/* Material Icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../public/fonts/MaterialIconsRound-Regular.woff)
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}