:root {
  --color-primary: #DD1B57;
  --color-link: #349BF4;
  --color-white: #ffffff;
  --color-border: #EDEDED;
  --color-text: #151515;

  --shadow-focus: 0px 0px 0px 2px var(--color-link);

  --transition-base: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-roboto), var(--font-notojp), sans-serif;
  font-size: 1.6rem;
}

/* Material Icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../public/fonts/MaterialIconsRound-Regular.woff)
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}