.container {
  display: grid;
  gap: 80px;
}

.accordionItem {
  border: none;
  border-bottom: 1px solid var(--color-border);
}

.accordionItem:last-of-type {
  border-bottom: none;
}


.accordionButton {
  padding: 32px 16px;
  font-size: 1.6rem;
  line-height: 1.8;
}

.accordionButton::before {
  display: block;
  content: "Q.";
  margin-right: 8px;
}

.accordionButton svg {
  width: 2.4rem;
  height: 2.4rem;
}

.accordionPanel {
  display: flex;
  padding: 32px 16px;
  line-height: 1.8;
}

.accordionPanel::before {
  display: block;
  content: "A.";
  margin-right: 8px;
  color: var(--color-primary);
}

.tabList {
  justify-content: center;
  gap: 16px;
  border: none;
}

.tab {
  font-size: 1.6rem;
  padding: 8px 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.tab[aria-selected=true],
.tab[data-selected] {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.tabPanels {
  margin-top: 32px;
  padding: 32px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 50px;
  }

  .accordionButton {
    padding: 16px 8px;
  }

  .accordionPanel {
    padding: 16px 8px;
  }
}