.title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
    line-height: 4rem;
  }
}